.about__container{
    display: grid;
    grid-template-columns: 28% 58%;
    gap: 15%;
}
.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary),transparent);
    display: grid;
    place-items: center;
    
}
.about__me-image{
    border-radius: 3rem;
    transform: rotate(11deg);
    transition: 1s ease-in;
    overflow: hidden;
}
.about__me-image:hover{
    transform: rotate(0deg);
    transition: 1s ease-out;
}

.about__content p{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin-bottom:2rem ;
    line-height: 1.8rem;
}
@media screen and (max-width:1024px){
    #about{
        margin-top: 8rem;
    }
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
        /* width: 40%; */
    }
    .about__me{
        width: 25%;
        margin: 2rem auto 3rem;
    }
    .about__content {
        margin-top: 1rem;
        margin-left: 3rem;
    }
}
@media screen and (max-width:600px){
    .about__me{
        width: 38%;
        
    }
    .about__content{
        margin-left: 3rem;
    }
}