header{
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}
.header__container {
    text-align: center;
    position: relative;
}
.first{
    color: crimson;
}
.header__container h4{
    padding-top: 1rem;
}

/*buttons*/
.butn{
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*header socials*/
.header__socials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.profile-details-roles{
    margin-bottom: 1rem;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 18rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    box-shadow: 0 1px 0px var(--color-white);
    border-radius: 50%;
    overflow: hidden;
}
.me img{
    height: 92%;
    width: 92%;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s ease-in;
}

.me img:hover{
    transform: scale(1.06);
    transition: 0.5s ease-out;
}

/* scroll bar*/
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

/*>>>>>>>>>>>>>>>MEDIA QUERIES (MEDIUM DEVICES)<<<<<<<<<<<<<< */
@media screen and (max-width:1024px){
    header{
        height: 70vh;
    }
    .header__socials{
        display: none;
    }
    .profile-details-roles ,.profile-role-tagline{
        display: none;
    }
    .me{
        height:230px ;
        width: 240px ; 
    }

}
@media screen and (max-width:600px ){
    header{
        height: 80vh;
    }
    .scroll__down, 
    .header__socials{
        display:none;
    }
    .me{
        height:210px ;
        width:210px ; 
    }

}

